@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  scrollbar-width: 50px;
  font-family: Montserrat, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif !important;
}
.hometext {
  /* font-family: cursive !important; */
  text-shadow: 2px 2px 2px black;
}
.maintext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  text-shadow: 2px 5px 3px red;
}
